@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: local('Roboto'), url('../../static/fonts/Roboto-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: Bold;
  src: local('Roboto'), url('../../static/fonts/Roboto-Bold.woff2') format('woff2');
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  backface-visibility: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #555555;
  background-color: #f5f5f4;
}